<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="content">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h1>Manage Links</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group" style="list-style-type:none">
          <li *ngIf="linkCount > 0" class="list-group-item list-group-item-dark">Current links</li>
          <li *ngFor="let obj of linkObjects">
            <a href="{{obj.URL}}" class="list-group-item list-group-item-action">
              {{obj.TITLE}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><div class="card-columns">
  <div class="card border-primary mb-3" style="max-width: 60rem;">
    <div class="card-header"><h2>Add Link</h2></div>
    <div class="card-body">
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="linkTitle" type="text" class="form-control" id="title" name="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="description">Link</label>
            <textarea placeholder="Type full link here. e.g: https://www.domicilegroup.co.za" [(ngModel)]="linkUrl" rows="5" cols="34" class="form-control" id="description" name="description"></textarea>
          </div>
          <button type="button" (click)="submitLink()" class="btn btn-success">Submit</button>&emsp;
          <button type="button" (click)="cancelLink()" class="btn btn-success">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
