<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="content">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h1><strong>Manage Projects</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group" style="list-style-type:none">
          <li class="list-group-item list-group-item-dark">Current projects(click to delete)</li>
          <li>
            <a data-toggle="modal" *ngFor="let obj of projObjects" (click)="selectProject(obj.TITLE,obj.ID)"
               class="list-group-item list-group-item-action" data-target="#projModal">
              {{obj.TITLE}}
            </a>
          </li>
          <li *ngIf="projObjects.length == 0">
            <a class="list-group-item list-group-item-action">
              No projects
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 text-left">
        <h1><strong>New Project</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="card-columns">
          <div class="card border-primary mb-3" style="max-width: 60rem;">
            <div class="card-header"><h2>Add Project</h2></div>
            <div class="card-body">
              <div class="card-text">
                <form>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input [(ngModel)]="projectTitle" type="text" class="form-control" id="title" name="title"
                           placeholder="Title">
                  </div>

                  <div class="form-group">
                    <label for="description">Description</label>`
                    <textarea [(ngModel)]="projectDescription" rows="5" cols="34" class="form-control" id="description"
                              name="description" placeholder="Type description here"></textarea>
                  </div>
                  <button [disabled]="projectCreated" type="button" (click)="submitProject()" class="btn btn-success">
                    Submit
                  </button>
                  <button [disabled]="projectCreated" type="button" (click)="cancelProject()" class="btn btn-success">
                    Cancel
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="projectCreated" class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header"><h2>Add Project Images</h2></div>
            <div class="card-body">
              <form>
                <input name="selectedFile" id="selectedFile" #selectedFile multiple
                       (change)="onFileChanged($event)" type="file" accept="image/*"/>
                <br/>
                <button type="button" (click)="sendImagesToServer()" class="btn btn-info">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
</div>
<div class="modal fade" id="projModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProject()">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert">
  Project added!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  Project deleted!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</body>
</html>
