<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="content">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h1>Manage Documents</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group" style="list-style-type:none">
          <!--          <li *ngIf="docCount > 0" class="list-group-item list-group-item-dark">Current documents</li>
                    <li *ngFor="let obj of docObjects">
                      <a href="/assets/documents/{{obj.URL}}" class="list-group-item list-group-item-action">
                        {{obj.TITLE}}
                      </a>
                      <button style="float: right; position: absolute" type="button" class="btn btn-success">Delete</button>&emsp;
                    </li>-->
          <li class="list-group-item list-group-item-dark">Current documents</li>
          <li>
            <a href="/assets/documents/{{obj.URL}}" class="list-group-item list-group-item-action">
              DOCUMENT NAME
            </a>
            <span class="badge">Delete</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div class="card-columns">
  <div class="card border-primary mb-3" style="max-width: 60rem;">
    <div class="card-header"><h2>Add Document</h2></div>
    <div class="card-body">
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="documentTitle" type="text" class="form-control" id="title" name="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="documentDescription" rows="5" cols="34" class="form-control" id="description" name="description" placeholder="Type description here"></textarea>
          </div>
          <input name="selectedFile" id="selectedFile" #selectedFile (change)="onFileChanged($event)" type="file"/><br/>
          <button type="button" (click)="sendDocumentToServer()" class="btn btn-success">Submit</button>&emsp;
          <button type="button" (click)="cancelDoc()" class="btn btn-success">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
-->
</body>
</html>
