/* You can add global styles to this file, and also import other style files */
*{
  font-family:  'Alegreya Sans';
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/sawarabi-mincho/SawarabiMincho-Regular.ttf);
}
