/* You can add global styles to this file, and also import other style files */
*{
  font-family:  smallText;
}

html,
body, .content{
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/SawarabiMincho-Regular.ttf);
}

@font-face {
  font-family: smallText;
  src: url(assets/fonts/corbel.ttf);
}

/*html{
  overflow: scroll;
}*/

